*{
    margin: 0px;
    padding: 0px;
}

#navbar{
position:relative;
padding: 1.8rem;
padding-bottom: 2.4rem;
padding-top: 2rem;
background-color: white;
display: flex;
}

#navbar img{
transform: scale(1);
margin-left: 3rem;
margin-top: 0.5rem;
}

#navbar .search-input{
width: fit-content;
position: relative;
margin-left: 18rem;
height: fit-content;
}



#navbar .search-input input{
    position: absolute;
    width: 360px;
    padding: 0.7rem;
    border-width: 0px;
    outline: none;
    font-size: 1rem;
    border-radius: 1.1rem;
background-color: rgb(221, 220, 220);
padding-left: 3rem;

    }





#navbar .search-input #icon-2{
display: block;
position: absolute;
left: 1.1rem;
top: 0.8rem;

}



@media(max-width:1260px){


    #navbar .search-input{
       
        margin-left: 11rem;
        
        }
        

}


@media(max-width:880px){


    #navbar .search-input{
       
        margin-left: 8rem;
        width: auto;

        }
     
        


#navbar .search-input input{

width: 19rem;

}


}

@media(max-width:745px){


    #navbar .search-input input{

        width: 16rem;
        
        }




}












#navbar i{
position: absolute;
right: 6%;
display: none;
top: 40%;
transform: scale(1.1);
}


@media(max-width:753px){


#navbar{
    padding: 1.2rem;
}

#navbar i{
    display: block;
   }
 
#navbar .search-input{

    display: none;
}



}


@media(max-width:450px){

    #navbar img{
    transform: scale(1);
    margin-left: 0rem;
    }
   
}


#navbar .form{
    display: flex;
    position: absolute;
    right: 10%;
    top: 40%; 
}

.form a:nth-child(1)  {
color: black;
text-decoration: none;
font-family: sans-serif;
font-weight: bold;
text-transform: capitalize;
}  


.form a:nth-child(2)  {
    color: rgb(40, 61, 247);
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
font-weight: bold;
    }  


    @media(max-width:1260px){


     #navbar .form{
       right: 5%;      
         }    
                
        }


        
.bg0{
position: relative;
}

.my-head{
    z-index: 2;
}


.bg0 .image1-bg1{
background-image: url(naturelap.png);
height:500px;
width: 100%;
filter: brightness(40%);
position: relative;
background-size: cover;
}

.heading{
position: absolute;
bottom: 12%;
filter: none;
z-index: 1;
margin-left: 7rem;
}

@media(max-width:751px){

    .my-head{
          width: 103%;
    }

}


@media(max-width:745px){

    .my-head{
          width: auto;
    }

}

.join-btn{
position: absolute;
top: 5%;
right: 3%;
outline: none;
border-width: 0px;
border: 2px solid white;
border-radius: 0.3rem;
color: white;
background: transparent;
padding: 0.6rem;
font-family: 'Roboto Condensed', sans-serif;
font-weight: lighter;
font-size: 1rem;
display: none;
cursor: pointer;
}

@media(max-width:1135px){

.join-btn{
    display: block;
}

}


.heading h1{
color: white;
font-size: 2.5rem;
font-family: 'Noto Sans JP', sans-serif;
text-transform: capitalize;
}


.heading h4{
    color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



@media(max-width:560px){

.heading h1{
    font-size: 2rem;
}

.heading h4{
    font-size: 1rem;
    font-weight: lighter;
}

}

@media(max-width:380px){


.heading h1{
font-size: 1.8rem;
}

.heading h4{
    font-weight: lighter;
    font-size: 1.1rem;
}

}


@media(max-width:700px){

    
    .heading {
        margin-left: 2rem;
    }
    
    }


    @media(max-width:515px){

.heading{
text-align: center;
justify-content: center;
margin-left: 0rem;
padding: 0.4rem;
}
        
   .bg0{
display: grid;
place-items: center;
   }     

.join-btn{
padding: 0.4rem;
}

    
.heading h1{
    font-size: 1.8rem;
        }    
    
    }
        



@media(max-width:1136px){

#navbar .form{
display: none;
}



}

@media(max-width:490px){

    .heading h1{
        font-size: 2rem;
         }
        
        .heading h4{
            font-weight: lighter;
            font-size: 1rem;
        }
        
        }




@media(max-width:380px){

    .image1{
     height:500px;
    }
       
    }
    

@media(max-width:1258px){

.bg0 .image1-bg1{
width: 100%;
height: 500px;
}

}


@media(max-width:900px){

    .bg0 .image1-bg1{
    width: 100%;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    }

    @media(max-width:600px){

        .bg0 .image1-bg1{
        width: 100%;
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        }
       
        }
    



        @media(max-width:560px){

            .bg0 .image1-bg1{
        background-image: url(naturelap2.png);
        height: 300px;
        }
           
            }
  
.width{

width: 100%;
background-color: white;

}

#pop-input{
 position: absolute;
width: 97%;
background-color: white;
padding: 0.8rem;
top: 4.4rem;
left: 0%;
z-index: 2;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
display: none;
}

#pop-input input{
  
   width: 97%;
   padding: 0.7rem;
    border-width: 0px;
    outline: none;
    font-size: 1rem;
    border-radius: 1.1rem;
background-color: rgb(221, 220, 220);

}


@media(max-width:660px){

  
#pop-input input{
  
    width: 93%;
    
 
 }
 
 #pop-input{
      
    width: 96%;
    
 
 }  
 
}


@media(max-width:460px){

  
    #pop-input{
      
        width: 95%;
        
     
     }  
    }


    @media(max-width:380px){

  
        #pop-input{
          
            width: 93%;
            
         
         }  
        }
    



#cards{
padding: 1rem;
margin-left: 6rem;
background-color: white;
position: relative;
padding-top: 4rem;
padding-bottom: 3rem;
}


@media(max-width:980px){

    #cards{
padding-top: 1rem;
       
        }
  


}




@media(max-width:1260px){

    #cards{
        margin-left: 2rem;
        }
  
}


@media(max-width:1100px){
       
.search-box{
position: unset;
display: block;
}

}


@media(max-width:1188px){

    #cards{
       display: grid;
        place-items: center;
        margin-left: 0rem;
      }
        

.search-box{
display: none;
}

}


.pops1{
position: absolute;
top: 60%;
width: 10rem;
right: 6%;
background-color: white;
z-index: 1;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 0.2rem;
box-shadow: 0 0 5px rgb(163, 162, 162);
display: none;
cursor: pointer;
height: fit-content;
transition: all 1s;
overflow: hidden;
}


.pops2{
    position: absolute;
    top: 60%;
    width: 10rem;
    right: 6%;
    background-color: white;
    z-index: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.2rem;
    box-shadow: 0 0 5px rgb(163, 162, 162);
    display: none;
    cursor: pointer;
    height: fit-content;
    transition: all 1s;
    overflow: hidden;
    }


    .pops3{
        position: absolute;
        top: 70%;
        width: 10rem;
        right: 6%;
        background-color: white;
        z-index: 1;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 0.2rem;
        box-shadow: 0 0 5px rgb(163, 162, 162);
        display: none;
        cursor: pointer;
        height: fit-content;
        transition: all 1s;
        overflow: hidden;
        }

.pops1 p:hover{
background-color: rgb(241, 239, 239);
}


.pops2 p:hover{
    background-color: rgb(241, 239, 239);
    }

    
.pops3 p:hover{
    background-color: rgb(241, 239, 239);
    }

.pops1 p{
width: fit-content;
width: 100%;
padding: 0.7rem;
}


.pops2 p{
    width: fit-content;
    width: 100%;
    padding: 0.7rem;
    }


    .pops3 p{
        width: fit-content;
        width: 100%;
        padding: 0.7rem;
        }

.card-slides1{
width: max-content;
height: auto;
border-radius: 0.4rem;
border: 1px solid rgb(160, 160, 160);
position: relative;
overflow: hidden;
}

.card-slides1 .image1{
background-image: url(Rectangle\ 5.png);
width: 100%;
height: 20rem;
background-size: cover;
background-repeat: no-repeat;
}

.card-slides1 .flex1{
display: flex;
padding: 1rem;
position: relative;
}

.flex1 h3{
font-family:  'Roboto Condensed', sans-serif;
font-size: 1.5rem;
}

.flex1 i{
    transform: scale(1.2);
    margin: 0.3rem;
    margin-left: 4rem;
padding: 0.2rem 0.4rem;
height: fit-content;
border-radius: 0.2rem;
cursor: pointer;
}



.right1 button{
    display: none;
    padding: 0.6rem;
    font-size: 1rem;
    margin-top: 0.3rem;
    outline: none;
    border-width: 0px;
    background-color: rgb(224, 221, 221);
border-radius: 0.3rem;
color: rgb(59, 59, 59);

    }

 .right1 button i{
padding: 0rem;
background-color: transparent;
margin-left: 0rem;
 }   


 
 .right2 button i{
    padding: 0rem;
    background-color: transparent;
    margin-left: 0rem;
         }   

    .right2 button{
        display: none;
    padding: 0.6rem;
        font-size: 1rem;
    margin-top: 0.3rem;
    outline: none;
    border-width: 0px;
    background-color:  rgb(226, 223, 223);
border-radius: 0.3rem;
color: rgb(44, 44, 44);
        }


@media(max-width:480px){

.flex2 i:nth-child(2){
  display: none;
}

.flex4 i:nth-child(2){
    display: none;
  }

.right1 button{
display: block;
}


.right2 button{
    display: block;
    }

}




@media(max-width:370px){
    
    .right1 button{
        padding: 0.4rem;    
    }
    
    
    .right2 button{
        padding: 0.4rem;
                }
    
    }

    .right3 button{
        display: none;
        padding: 0.6rem;
        font-size: 1rem;
        margin-top: 0.3rem;
        outline: none;
        border-width: 0px;
        background-color: rgb(224, 221, 221);
    border-radius: 0.3rem;
    color: rgb(59, 59, 59);
        }

     
     .right3 button i{
        padding: 0rem;
        background-color: transparent;
        margin-left: 0rem;
        }   
    
        .right3 button{
            display: none;
        padding: 0.6rem;
            font-size: 1rem;
        margin-top: 0.3rem;
        outline: none;
        border-width: 0px;
        background-color:  rgb(226, 223, 223);
    border-radius: 0.3rem;
    color: rgb(44, 44, 44);
        }
    
    
    @media(max-width:480px){
    
    .flex6 i:nth-child(2){
        display: none;
      }
    
    .right3 button{
    display: block;
    
    }
        
    }
       
    
    @media(max-width:370px){
        
        .right3 button{
            padding: 0.4rem;    
        }
           
        }
 .flex1 i:hover{
    background-color: rgb(190, 189, 189);
}

.card-slides1 .flex2{
    display: flex;
    padding: 1.3rem;
        }

.flex2 p{
margin: 0.5rem;
font-weight: bold;
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.1rem;
}

.flex2 i{
padding: 0.5rem;
background-color:  rgb(190, 189, 189);
border-radius: 0.3rem;
margin-left: 2rem;
transform: scale(1);
height: fit-content;
}

.right1{
position: absolute;
right: 0%;
display: flex;
margin-right: 2rem;
}


@media(max-width:770px){

.card-slides1{
width: auto;
}

}


@media(max-width:547px){

.flex1 i{
margin-left: 1rem;
}

}


    .overflow1 p{
margin-left: 1.1rem;
margin-right: 0.3rem;        
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
.flex2 p i{
padding: 0rem;
background-color: transparent;
}


@media(max-width:430px){

    .flex1 h3{
   font-size: 1.2rem;
 }
        
    
.card-slides1 .image1{
height: 240px;
    }
      
        }


        .card-slides2{
            width: max-content;
            height: auto;
            border-radius: 0.4rem;
            border: 1px solid rgb(160, 160, 160);
            position: relative;
            overflow: hidden;
             }
            
            .card-slides2 .image2{
            background-image: url(wooden.png);
            width: 100%;
            height: 20rem;
            background-size: cover;
            background-repeat: no-repeat;
                }
            
            
            
            .card-slides2 .flex3{
            display: flex;
            padding: 1rem;
            position: relative;
            }
            
            .flex3 h3{
            font-family:  'Roboto Condensed', sans-serif;
            font-size: 1.5rem;
            }
            
            .flex3 i{
                transform: scale(1.2);
                margin: 0.3rem;
                margin-left: 5.2rem;
            padding: 0.2rem 0.4rem;
            height: fit-content;
            border-radius: 0.2rem;
            }
            
            
            .flex3 i:hover{
                background-color: rgb(190, 189, 189);
                }
            
            .card-slides2 .flex4{
            
                display: flex;
                padding: 1.3rem;
               
                }
            
            .flex4 p{
            
            margin: 0.5rem;
            font-weight: bold;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.1rem;
            }
            
            .flex4 i{
            
            padding: 0.5rem;
            background-color:  rgb(190, 189, 189);
            border-radius: 0.3rem;
            margin-left: 2rem;
            transform: scale(1);
            height: fit-content;
            }
            
            .right2{
            
            position: absolute;
            right: 0%;
            display: flex;
            margin-right: 2rem;
            
            }
            
            
            @media(max-width:720px){
            
            
            .card-slides2{
            width: auto;
            
            
            }
            
            
            
            }
            
            
            @media(max-width:547px){
            
            .flex3 i{
            margin-left: 1rem;
            
            }
                
                
                
                }
            
            
                .overflow2 p{
            margin-left: 1.1rem;
            margin-right: 0.3rem;        
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
                }
                
            .flex4 p i{
            
            padding: 0rem;
            background-color: transparent;
            }
            
            
            
            @media(max-width:430px){
            
                .flex3 h3{
               font-size: 1.2rem;
                
                }
                    
                
            .card-slides2 .image2{
            height: 240px;
                
                
                }
                 
                
                    
                    }




                    .card-slides3{

                        width: max-content;
                        height: auto;
                        border-radius: 0.4rem;
                        border: 1px solid rgb(160, 160, 160);
                        position: relative;
                        overflow: hidden;
                        
                        }
                        
                        .card-slides3 .image3{
                        
                        background-image: url(car1.png);
                        width: 100%;
                        height: 20rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        
                        
                        }
                        
                        .overflow3{

width: 85%;
width: auto;
padding: 0.7rem;
border: 1px solid rgb(116, 115, 115);
margin: 1rem;
overflow: visible;
text-align: center;
justify-content: center;
border-radius: 0.5rem;
cursor: pointer;
                        }

.overflow3 a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.1rem;
color: rgb(247, 51, 25);
text-decoration: none;
text-transform: capitalize;
}

.text{
display: flex;
width: 90%;
margin-left: 1.1rem;
font-size: 1rem;
}
   .text p{
    font-family: 'Roboto Condensed', sans-serif;
font-weight: lighter;
color: rgb(65, 64, 64);

   }


@media(max-width:415px){

.text{
flex-wrap: wrap;

}



}


                        .card-slides3 .flex5{
                        
                        display: flex;
                        padding: 1rem;
                        position: relative;
                        }
                        
                        .flex5 h3{
                        
                        font-family:  'Roboto Condensed', sans-serif;
                        font-size: 1.5rem;
                        text-transform: capitalize;
                        }
                        
                        .flex5 i{
                            transform: scale(1.2);
                            margin: 0.3rem;
                            margin-left: 11.2rem;
                        padding: 0.2rem 0.4rem;
                        height: fit-content;
                        border-radius: 0.2rem;
                        
                        }
                        
                        
                        .flex5 i:hover{
                            background-color: rgb(190, 189, 189);
                        
                        
                        
                        }
                        
                        .card-slides3 .flex6{
                        
                            display: flex;
                            padding: 1.3rem;
                            
                            }
                        
                        .flex6 p{
                        
                        margin: 0.5rem;
                        font-weight: bold;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 1.1rem;
                        }
                        
                        .flex6 i{
                        
                        padding: 0.5rem;
                        background-color:  rgb(190, 189, 189);
                        border-radius: 0.3rem;
                        margin-left: 2rem;
                        transform: scale(1);
                        height: fit-content;
                        }
                        
                        .right3{
                        
                        position: absolute;
                        right: 0%;
                        display: flex;
                        margin-right: 2rem;
                        
                        }
                        
                        
                        @media(max-width:720px){
                        
                        
                        .card-slides3{
                        width: auto;
                        
                        
                        }
                        
                        
                        
                        }
                       
                        
                        
                        @media(max-width:700px){
                        
                            .flex5 i{
                            margin-left: 7rem;
                            
                            }
                               
                                
                                
                                }


                        
                        @media(max-width:547px){
                        
                        .flex5 i{
                        margin-left: 1rem;
                        
                        }
                            
                            
                            
                            }
                        
                        
                           
                            
                        .flex6 p i{
                        
                        padding: 0rem;
                        background-color: transparent;
                        }
                        
                        
                        
                        @media(max-width:430px){
                        
                            .flex5 h3{
                           font-size: 1.2rem;
                            
                            }
                                
                            
                        .card-slides3 .image3{
                        height: 240px;
                            
                            
                            }
                             
                            
                                
                                }
            
            




  @media(max-width:700px){

.br1{

display: none;

}
                    }


.navbar2{
display: flex;
margin: auto;
position: relative;
width: 100%;
padding-bottom: 3.5rem;
padding-top: 1.8rem;
background-color: white;
border-bottom: 1px solid grey;
}

.navbar2 .ancs{
justify-content: left;
text-align: left;
margin-left: 7rem;

}

@media(max-width:980px){

    .navbar2{
        border-bottom: 1px solid white;
    }


}

.ancs a{
    padding: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.1rem;
    z-index: 2;

}

.ancs a:hover{
    border-bottom: 2px solid black;
    }


.navbar2 .buttons{
justify-content: right;
text-align: right;
position: absolute;
right: 10%;
margin: 0rem;
display: flex;
}

.buttons button:nth-child(1){

padding: 0.7rem;
border-width:0px;
outline: none;
background-color: rgb(230, 227, 227);
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.1rem;
border-radius: 0.3rem;
font-weight: lighter;
text-transform: capitalize;

}



.buttons button:nth-child(2){

    padding: 0.7rem;
    border-width:0px;
    outline: none;
text-transform: capitalize;
    margin-left: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(21, 21, 250);
    color: white;
border-radius: 0.3rem;

    }


    .buttons button:nth-child(3){

        border-width:0px;
        outline: none;
    text-transform: capitalize;
        margin-left: 1.2rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.1rem;
        background-color: rgb(212, 211, 211);
        color: black;
    border-radius: 0.3rem;
    display: none;
    padding: 0.7rem 2rem;

        }



@media(max-width:980px){

.navbar2 .buttons button:nth-child(1){
display: none;
right: 0%;
}


.navbar2 .buttons button:nth-child(2){
    display: none;
    right: 0%;
    }


    .navbar2 .buttons button:nth-child(3){
        display: block;
        right: 1%;
        }

.navbar2 .ancs a:nth-child(2){
display: none;    
}
.navbar2 .ancs a:nth-child(3){
    display: none;    
    }
    .navbar2 .ancs a:nth-child(4){
        display: none;    
        }
        .navbar2 .ancs a:nth-child(5){
            display: none;    
            }

.navbar2{

    padding-bottom: 2rem;
}



}  



@media(max-width:750px){
 
    .navbar2 .ancs{
    margin-left: 3rem;
    
    }
    
}  


@media(max-width:400px){
 
    .navbar2 .ancs{
    margin-left: 0.7rem;
    
    }
    
}  

.showed1 p{

margin-left:0.6rem ;

}



.showed1 p:nth-child(1){
font-size: 1.2rem;
    
    }

    .showed2 p:nth-child(1){
        font-size: 1.2rem;
            
            }
        


.showed2 p{

    margin-left: 0.6rem;
    }
    
.show1{
display: none;
color: rgb(90, 89, 89);
}

.show2{
    display: none;
    color: rgb(94, 92, 92);
    }


@media(max-width:480px){


    .show1{
        display:block;
        }
        
        .show2{
            display:block;
            }

.right1 p{
display: none;

}


.right2 p{
    display: none;
    
    }
    

    .showed1 p{

        margin: 0rem;
    margin-left: 0.6rem;
        
        
        }


        .showed2 p{

            margin: 0rem;
    margin-left: 0.6rem;
            
            
            }
    

}



@media(max-width:410px){

    .showed1 p:nth-child(1){
        font-size: 1.1rem;
            
            }


            .showed2 p:nth-child(1){
                font-size: 1.1rem;
                    
                    }



.flex2 .show1{
font-size: 0.9rem;

}


.flex4 .show2{
    font-size: 0.9rem;
    
    }

}



.showed3 p{

    margin-left:0.6rem ;
    
    }
    
    
    
    .showed3 p:nth-child(1){
    font-size: 1.2rem;
        
        }
    
    
    
        
    .show3{
    display: none;
    color: rgb(90, 89, 89);
    }
    
    
    
    @media(max-width:480px){
    
    
        .show3{
            display:block;
            }
            
    .right3 p{
    display: none;
    }
      
        .showed3 p{
        margin: 0rem;
        margin-left: 0.6rem;
            }
                  
                }
     
      
    @media(max-width:410px){
    
        .showed3 p:nth-child(1){
            font-size: 1.1rem;
               }
    
               .showed3 p:nth-child(2){
                font-size: 1rem;
                   }
    
    
    
    .flex6 .show1{
    font-size: 0.9rem;
    }
      
    }

.card-slides4{
    width: max-content;
    height: auto;
    border-radius: 0.4rem;
    border: 1px solid rgb(160, 160, 160);
    position: relative;
    overflow: hidden;
    }
        
    .overflow4{
width: 85%;
width: auto;
padding: 0.7rem;
border: 1px solid rgb(116, 115, 115);
margin: 1rem;
overflow: visible;
text-align: center;
justify-content: center;
border-radius: 0.5rem;
cursor: pointer;
    }

.overflow4 a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.1rem;
color: rgb(6, 170, 6);
text-decoration: none;
text-transform: capitalize;
}

.text-last{
display: flex;
width: 90%;
margin-left: 1.1rem;
font-size: 1rem;
}

.text-last p{
font-family: 'Roboto Condensed', sans-serif;
font-weight: lighter;
color: rgb(65, 64, 64);
}


@media(max-width:436px){

.text-last{
flex-wrap: wrap;
}

}

    .card-slides4 .flex-last1{
     display: flex;
    padding: 1rem;
    position: relative;
    }
    
    .flex-last1 h3{
    font-family:  'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    }
    
    .flex-last1 i{
    transform: scale(1.2);
    margin: 0.3rem;
    margin-left: 29.5rem;
    padding: 0.2rem 0.4rem;
    height: fit-content;
    border-radius: 0.2rem;
    }
    
    
    .flex-last1 i:hover{
        background-color: rgb(190, 189, 189);
    }
    
    .card-slides4 .flex-last2{
        display: flex;
        padding: 1.3rem;
        }
    
    .flex-last2 p{
    margin: 0.5rem;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    }
    
    .flex-last2 i{
    padding: 0.5rem;
    background-color:  rgb(190, 189, 189);
    border-radius: 0.3rem;
    margin-left: 2rem;
    transform: scale(1);
    height: fit-content;
    }
    
    .right4{
    position: absolute;
    right: 0%;
    display: flex;
    margin-right: 2rem;
    }
    
.right4 button{
    display: none;
}
    
    @media(max-width:720px){
        
    .card-slides4{
    width: 100%;
    justify-content: left;
    }

    .flex-last1 i{
        position: absolute;
        right: 3%;
        margin-left: 0rem;
        }
        
    }
 
    @media(max-width:547px){
    
    .flex-last1 i{
    margin-left: 1rem;
    }
           
        }
       
        
    .flex-last2 p i{
    padding: 0rem;
    background-color: transparent;
    }
    
   @media(max-width:430px){
    
        .flex-last1 h3{
       font-size: 1.2rem;
        }
             
            }


            .showed4 p{
                margin-left:0.6rem ;
               }
                              
                .showed4 p:nth-child(1){
                font-size: 1.2rem;
                }
                                
                .show4{
                display: none;
                color: rgb(90, 89, 89);
                }
                           
                @media(max-width:480px){
                                
                    .show4{
                        display:block;
                        }
                        
                .right4 p{
                display: none;
                    }
                               
                    .showed4 p{
                    margin: 0rem;
                    margin-left: 0.6rem;
                        }
  
                    }            
                      
                
                @media(max-width:410px){
                
                    .showed4 p:nth-child(1){
                        font-size: 1.1rem;
                           }
                
                           .showed4 p:nth-child(2){
                            font-size: 1rem;
                               }
                                
                .flex-last2 .show4{
                font-size: 0.9rem;
                    }
           
                }
                   
                     .right4 button i{
                        padding: 0rem;
                        background-color: transparent;
                        margin-left: 0rem;
                        }   
                    
                        .right4 button{
                        display: none;
                        padding: 0.6rem;
                        font-size: 1rem;
                        margin-top: 0.3rem;
                        outline: none;
                        border-width: 0px;
                        background-color:  rgb(226, 223, 223);
                    border-radius: 0.3rem;
                    color: rgb(44, 44, 44);
                           }
                                        
                    @media(max-width:480px){
                                      
                    .flex-last2 i:nth-child(2){
                        display: none;
                      }
                    
                    .right4 button{
                    display: block;
                        }
                                      
                    }
            
                    
                    @media(max-width:370px){
                                    
                        .right4 button{
                            padding: 0.4rem;    
                        }
                                            
                        }
     
      #account-form{   
width: max-content;
position:absolute;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
padding:1rem;
display: none;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 1;
background-color:white;

      }

    
@media(max-width:510px){

    #account-form{
        padding: 0rem;
    }
}


  #account-form .part1{
width: fit-content;
padding: 1rem;
float: left;
  }                      

  
  #account-form .part1 input{
color: black;
    width: 91.7%;
    padding: 1rem;
    outline: none;
    border-width: 0px;
    border: 1px solid grey;
    font-size: 0.9rem;
    text-transform: capitalize;
    background-color: rgb(229, 226, 226);
      }       
            


.part1 #flexing input:nth-child(1){
border-top-left-radius: 0.5rem;
}

      .part1 #flexing{
display: flex;
visibility: visible;
      }


      #account-form .part1 button{
text-transform: capitalize;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 0.7rem;
        font-size: 1rem;
        outline: none;
        border-width:0px ;
        border: 1px solid grey;
        background: transparent;
        border-radius: 0.4rem;
        cursor: pointer;
          }   
          
          

          #account-form .part1 .create-btn{
            text-transform: capitalize;
                    width: 100%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    padding: 0.8rem;
                    font-size: 1rem;
                    outline: none;
                    border-width:0px ;
                    color: white;
                    background-color: rgb(21, 43, 245);
                    border-radius: 1.2rem;

                      }   


#account-form .part2{
display: grid;
place-items: center;
float: right;
margin-top: 6rem;
}

#account-form .part2 p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
text-transform: capitalize;
font-weight: bold;
padding: 0.6rem;
}

#acccount-form .part2  p a{
color: rgb(10, 72, 243);
}

.flexing2{
    display: flex;
    position: relative;
}

.flexing2 a{
    margin: 1rem;
    position: absolute;
    right: 0%;
    text-transform: lowercase;
font-family:'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.1rem;
    text-decoration: underline;
    display: none;
    text-transform: capitalize;
}



@media(max-width:890px){

    #account-form .part2{
display: none;        
        }
        
        
    }
        
        
    #account-form svg{
position: absolute;
right: 3%;
top: 4%;
transform: scale(1.6);
margin: 0.6rem;
color: rgb(29, 29, 29);
cursor: pointer;
}

#account-form .part1 h1{
font-family:'Roboto Condensed', sans-serif;
text-transform: capitalize;
justify-content: left;
}


@media(max-width:510px){

    #account-form{
width: 101%; 
z-index: 1;
height: max-content;
justify-content: center;
margin-top: 3.6rem;
padding-bottom: 2rem;        
        }
        
      #account-form .part1 input{ 
            width: 92%;         
            }
 
}

@media(max-width:426px){

    #account-form .part1 input{ 
        width: 91%;                
                }

}


@media(max-width:394px){

    #account-form .part1 input{ 
        width: 90%;                
                }

}

@media(max-width:890px){

    #account-form .part1 .create-btn{
display: flex;
text-align: left;
justify-content: left;
width: fit-content;
padding: 1rem 3rem;
border-radius: 1.2rem;    
    }
                  
    .flexing2 a{
        display: block;
    }

}

.search-box{
float: right;
position: absolute;
right: 9%;
top: 3%;

}

.search-box input{
outline: none;
border-width: 0px;
border-bottom: 2px solid black;
width: 100%;
font-size: 1rem;
color: gray;
}

.search-box .flexing3{
    display: flex;
}


.search-box .flexing3 i{
    color: black;
}
.search-box p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: gray;
}